# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [14]:
import pandas as pd

## imports for Python, Pandas

In [19]:
import json
from pandas.io.json import json_normalize
#dir(pd)

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [34]:
# define json string
data = [{'states': 'Florida',
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio', 
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [38]:
json_normalize?

In [49]:
json_normalize(data, 'info')

          0
0  governor
1  governor

In [36]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [50]:
json_normalize(data)

,counties,info.governor,shortname,state,states
0,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott,FL,NaN,Florida
1,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich,OH,Ohio,NaN

In [8]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [55]:
import json
# load json as string
json_file=open('data/world_bank_projects_less.json', 'r', encoding='utf-8')
#json.load((open('data/world_bank_projects_less.json')))
json_data=json.load(json_file)
json_file.close()

In [58]:
type(json_data)

list

In [60]:
df=pd.DataFrame(json_data)
df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

In [10]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [63]:
import json
import os
os.getcwd()

'/Users/admin/Downloads/data_wrangling_json'

In [64]:
json_file=open('/Users/admin/Downloads/data_wrangling_json/data/world_bank_projects.json')

In [67]:
data = json.load(json_file)

In [68]:
df = pd.DataFrame(data)

In [69]:
df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [70]:
print(df.shape)
print(df.columns)

(500, 50)
Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

In [72]:
df.columns[df.columns.str.contains('project')]

Index(['lendprojectcost', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'supplementprojectflg'],
      dtype='object')

In [81]:
#S = [x**2 for x in range(10)]
#S

In [80]:
#[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

In [105]:
# for col in df.columns:
#     if 'project' in col:
#         print(col)
        
# l = []
# for col in df.columns:
#     if 'project' in col:
#         l.append(col)
    
# l

In [108]:
project_cols = [print(col) for col in df.columns if 'project' in col]

lendprojectcost
project_abstract
project_name
projectdocs
projectfinancialtype
projectstatusdisplay
supplementprojectflg

In [109]:
country_cols = [print(col) for col in df.columns if 'country' in col]

country_namecode
countrycode
countryname
countryshortname

In [127]:
df.groupby(['countryshortname']).size().sort_values(ascending=False).head(10)

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
dtype: int64

In [126]:
#df.to_csv('worlddatajson.csv', sep='\t', encoding='utf-8')

In [130]:
df.groupby('mjtheme_namecode').size().sort_values(ascending=False).head(10)

TypeError: unhashable type: 'list'

In [61]:

import json
#dir(json)

In [1]:
movies = {}
movies['title'] = 'Minority Report'
movies['director'] = 'Steven Spielberg'
movies['composer'] = 'John Williams'
movies['actors'] = ['Tom Cruise', 'Collin Farrell', 'Samantha Morton', 'Max von Sydow']
movies['is_awesome']='True'
movies['budget'] = '102000000'
movies['cinematographer'] = 'Janusz Kami\u0144ski'

In [2]:
movies

{'actors': ['Tom Cruise',
  'Collin Farrell',
  'Samantha Morton',
  'Max von Sydow'],
 'budget': '102000000',
 'cinematographer': 'Janusz Kamiński',
 'composer': 'John Williams',
 'director': 'Steven Spielberg',
 'is_awesome': 'True',
 'title': 'Minority Report'}

In [4]:
import os
os.getcwd()

'/Users/admin/Downloads/data_wrangling_json'

In [7]:
file_2=open('/Users/admin/Downloads/data_wrangling_json/movies.txt', 'w', encoding = 'utf-8')
json.dump(movies, file_2, ensure_ascii=False)
file_2.close()

In [8]:
file_1 = open('/Users/admin/Downloads/data_wrangling_json/movies.txt', 'r', encoding='utf-8')

In [9]:
movies_1 = json.load(file_1)

In [10]:
movies_1

{'actors': ['Tom Cruise',
  'Collin Farrell',
  'Samantha Morton',
  'Max von Sydow'],
 'budget': '102000000',
 'cinematographer': 'Janusz Kamiński',
 'composer': 'John Williams',
 'director': 'Steven Spielberg',
 'is_awesome': 'True',
 'title': 'Minority Report'}

In [11]:
file_1.close()

In [12]:
movies_1

{'actors': ['Tom Cruise',
  'Collin Farrell',
  'Samantha Morton',
  'Max von Sydow'],
 'budget': '102000000',
 'cinematographer': 'Janusz Kamiński',
 'composer': 'John Williams',
 'director': 'Steven Spielberg',
 'is_awesome': 'True',
 'title': 'Minority Report'}

In [13]:
type(movies_1)

dict